In [2]:
import os, time
#from google.colab import drive 
import pickle
import matplotlib.backends.backend_pdf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sn
import pandas as pd
import itertools
import seaborn as sns

%matplotlib inline

In [3]:
os.chdir("C:\\Users\\User\\Documents\\Ecopetrol\\ecopetrol 20\\PID_LCI\\Modelo_f_python\\Arena_C\\nuevos perfiles\\Evaluacion economica")

In [4]:
import xlwings as xw
from datetime import datetime

In [5]:
import scipy.stats as ss
import numpy as np
import matplotlib.pyplot as plt
import math

In [6]:
from scipy.optimize import root
from dfply import *

Modelo LCI:

### Cira e Infantas

In [7]:
perfiles = pd.read_excel("./analisis EI + volumenes PID 2020.xlsx", sheet_name="BD_LCI")

In [8]:
perfiles.head()

,Date,Area_Etapa,BOPD,BFPD,GASPD,BWIPD,Volumen_Aciete,trabajo,Arena,riesgo,Agua
0,2021-01-01,CIRA,0.0,0.0,0.0,0,0.0,NW,C,BR,0.0
1,2021-02-01,CIRA,0.0,0.0,0.0,0,0.0,NW,C,BR,0.0
2,2021-03-01,CIRA,0.0,0.0,0.0,0,0.0,NW,C,BR,0.0
3,2021-04-01,CIRA,0.0,0.0,0.0,0,0.0,NW,C,BR,0.0
4,2021-05-01,CIRA,0.0,0.0,0.0,0,0.0,NW,C,BR,0.0

In [9]:
### adecuacion base de datos arena AB

arena_c=perfiles[perfiles['Arena']== 'C']

In [10]:
WO=arena_c[arena_c['trabajo']== 'WO']

### perfil incremental

In [11]:
### perfil de WOs

WO=arena_c[arena_c['trabajo']== 'WO']


WO_C_AR=(WO[(WO['riesgo']== 'AR') & (WO['Area_Etapa']== 'CIRA')]).reset_index()
WO_C_AR['Date'] = pd.to_datetime(WO_C_AR['Date'])
WO_C_AR['Date+'] = WO_C_AR['Date'].dt.year
WO_C_AR_y=WO_C_AR.groupby('Date+').mean()



WO_C_BR=WO[(WO['riesgo']== 'BR') & (WO['Area_Etapa']== 'CIRA')].reset_index()
WO_C_BR['Date'] = pd.to_datetime(WO_C_BR['Date'])
WO_C_BR['Date+'] = WO_C_BR['Date'].dt.year
WO_C_BR_y=WO_C_BR.groupby('Date+').mean()



WO_I_AR=WO[(WO['riesgo']== 'AR') & (WO['Area_Etapa']== 'INFANTAS')].reset_index()
WO_I_AR['Date'] = pd.to_datetime(WO_I_AR['Date'])
WO_I_AR['Date+'] = WO_I_AR['Date'].dt.year
WO_I_AR_y=WO_I_AR.groupby('Date+').mean()


WO_I_BR=WO[(WO['riesgo']== 'BR') & (WO['Area_Etapa']== 'INFANTAS')].reset_index()
WO_I_BR['Date'] = pd.to_datetime(WO_I_BR['Date'])
WO_I_BR['Date+'] = WO_I_BR['Date'].dt.year
WO_I_BR_y=WO_I_BR.groupby('Date+').mean()



NW=arena_c[arena_c['trabajo']== 'NW']

NW_C_AR=NW[(NW['riesgo']== 'AR') & (NW['Area_Etapa']== 'CIRA')].reset_index()
NW_C_AR['Date'] = pd.to_datetime(NW_C_AR['Date'])
NW_C_AR['Date+'] = NW_C_AR['Date'].dt.year
NW_C_AR_y=NW_C_AR.groupby('Date+').mean()



NW_C_BR=NW[(NW['riesgo']== 'BR') & (NW['Area_Etapa']== 'CIRA')].reset_index()
NW_C_BR['Date'] = pd.to_datetime(NW_C_BR['Date'])
NW_C_BR['Date+'] = NW_C_BR['Date'].dt.year
NW_C_BR_y=NW_C_BR.groupby('Date+').mean()



NW_I_AR=NW[(NW['riesgo']== 'AR') & (NW['Area_Etapa']== 'INFANTAS')].reset_index()
NW_I_AR['Date'] = pd.to_datetime(NW_I_AR['Date'])
NW_I_AR['Date+'] = NW_I_AR['Date'].dt.year
NW_I_AR_y=NW_I_AR.groupby('Date+').mean()



NW_I_BR=NW[(NW['riesgo']== 'BR') & (NW['Area_Etapa']== 'INFANTAS')].reset_index()
NW_I_BR['Date'] = pd.to_datetime(NW_I_BR['Date'])
NW_I_BR['Date+'] = NW_I_BR['Date'].dt.year
NW_I_BR_y=NW_I_BR.groupby('Date+').mean()

#### Varaible de decision

## codigo de pozos

In [12]:
costo_pozo_arena_c_p=(250000+791896*(1+0.05))*1.19
costo_pozo_arena_c_i=(250000+699506*(1+0.05))*1.19
costo_pozo_WO=(277602)*1.19

In [13]:
costo_pozo_arena_c_p

1286974.052

In [14]:
costo_pozo_arena_c_i

1171532.747

In [15]:
costo_pozo_WO

330346.38

### incremental

#### WOs

In [16]:
bd_pozo_capex_wo = pd.read_excel("./numero_pozo_arena_c.xlsx", sheet_name="Capex_WO")

In [17]:
### Numero de pozos capex WO

## cira
P_WO_C_AR=bd_pozo_capex_wo[(bd_pozo_capex_wo['riesgo']== 'AR') & (bd_pozo_capex_wo['campo']== 'CIRA')].reset_index()
P_WO_C_AR_v=P_WO_C_AR.groupby('Year').sum()

P_WO_C_BR=bd_pozo_capex_wo[(bd_pozo_capex_wo['riesgo']== 'BR') & (bd_pozo_capex_wo['campo']== 'CIRA')].reset_index()
P_WO_C_BR_v=P_WO_C_BR.groupby('Year').sum()

In [18]:
## infanta

P_WO_I_AR=bd_pozo_capex_wo[(bd_pozo_capex_wo['riesgo']== 'AR') & (bd_pozo_capex_wo['campo']== 'INFANTAS')].reset_index()
P_WO_I_AR_v=P_WO_I_AR.groupby('Year').sum()

P_WO_I_BR=bd_pozo_capex_wo[(bd_pozo_capex_wo['riesgo']== 'BR') & (bd_pozo_capex_wo['campo']== 'INFANTAS')].reset_index()
P_WO_I_BR_v=P_WO_I_BR.groupby('Year').sum()

#### NW

##### Opex pozo

In [19]:
bd_pozo= pd.read_excel("./numero_pozo_arena_c.xlsx", sheet_name="opex_pozo")

In [21]:
bd_pozo

    Year     campo  Productores  Inyectores  Abandono observacion riesgo
0   2021      CIRA            0           0         0          NW     AR
1   2022      CIRA            0           0         0          NW     AR
2   2023      CIRA            0           0         0          NW     AR
3   2024      CIRA           27          12         0          NW     AR
4   2025      CIRA           52          21         0          NW     AR
..   ...       ...          ...         ...       ...         ...    ...
75  2036  INFANTAS           26           8         0          NW     BR
76  2037  INFANTAS           26           8         0          NW     BR
77  2038  INFANTAS           26           8         0          NW     BR
78  2039  INFANTAS           26           8         0          NW     BR
79  2040  INFANTAS           26           8        34          NW     BR

[80 rows x 7 columns]

In [22]:
P_a_c_nw=bd_pozo[bd_pozo['observacion']== 'NW']

P_NW_C_BR=P_a_c_nw[(P_a_c_nw['riesgo']== 'BR') & (P_a_c_nw['campo']== 'CIRA')].reset_index()
P_NW_C_BR_y=P_NW_C_BR.groupby('Year').sum()

P_NW_C_AR=P_a_c_nw[(P_a_c_nw['riesgo']== 'AR') & (P_a_c_nw['campo']== 'CIRA')].reset_index()
P_NW_C_AR_y=P_NW_C_AR.groupby('Year').sum()

In [24]:
bd_pozo

    Year     campo  Productores  Inyectores  Abandono observacion riesgo
0   2021      CIRA            0           0         0          NW     AR
1   2022      CIRA            0           0         0          NW     AR
2   2023      CIRA            0           0         0          NW     AR
3   2024      CIRA           27          12         0          NW     AR
4   2025      CIRA           52          21         0          NW     AR
..   ...       ...          ...         ...       ...         ...    ...
75  2036  INFANTAS           26           8         0          NW     BR
76  2037  INFANTAS           26           8         0          NW     BR
77  2038  INFANTAS           26           8         0          NW     BR
78  2039  INFANTAS           26           8         0          NW     BR
79  2040  INFANTAS           26           8        34          NW     BR

[80 rows x 7 columns]

In [25]:
P_NW_I_BR=P_a_c_nw[(P_a_c_nw['riesgo']== 'BR') & (P_a_c_nw['campo']== 'INFANTAS')].reset_index()
P_NW_I_BR_y=P_NW_I_BR.groupby('Year').sum()

P_NW_I_AR=P_a_c_nw[(P_a_c_nw['riesgo']== 'AR') & (P_a_c_nw['campo']== 'INFANTAS')].reset_index()
P_NW_I_AR_y=P_NW_I_AR.groupby('Year').sum()

#### Capex pozo

In [26]:
bd_pozo_capex_NW = pd.read_excel("./numero_pozo_arena_c.xlsx", sheet_name="Capex_pozo")

In [27]:
C_NW_C_BR=bd_pozo_capex_NW[(bd_pozo_capex_NW['riesgo']== 'BR') & (bd_pozo_capex_NW['campo']== 'CIRA')].reset_index()
C_NW_C_BR_y=C_NW_C_BR.groupby('Year').sum()

C_NW_C_AR=bd_pozo_capex_NW[(bd_pozo_capex_NW['riesgo']== 'AR') & (bd_pozo_capex_NW['campo']== 'CIRA')].reset_index()
C_NW_C_AR_y=C_NW_C_AR.groupby('Year').sum()

In [28]:
C_NW_I_BR=bd_pozo_capex_NW[(bd_pozo_capex_NW['riesgo']== 'BR') & (bd_pozo_capex_NW['campo']== 'INFANTAS')].reset_index()
C_NW_I_BR_y=C_NW_I_BR.groupby('Year').sum()

C_NW_I_AR=bd_pozo_capex_NW[(bd_pozo_capex_NW['riesgo']== 'AR') & (bd_pozo_capex_NW['campo']== 'INFANTAS')].reset_index()
C_NW_I_AR_y=C_NW_I_AR.groupby('Year').sum()

### costo abandono

In [29]:
costo_abandono_c=190878
costo_abandono_i=127071
costo_abandono_b=297208

### Capex Incremental

In [30]:
bd_capex = pd.read_excel("./facilidades_arena_c.xlsx", sheet_name="facilidades")

In [31]:
bd_capex.head()

    año Area_Etapa         valor riesgo trabajo  porcentaje   facilidad_t
0  2021       CIRA  0.000000e+00     AR      NW           1  0.000000e+00
1  2022       CIRA  2.148218e+06     AR      NW           1  2.148218e+06
2  2023       CIRA  2.148218e+06     AR      NW           1  2.148218e+06
3  2024       CIRA  1.533006e+06     AR      NW           1  1.533006e+06
4  2025       CIRA  1.533006e+06     AR      NW           1  1.533006e+06

### WOs

In [32]:
bd_capex_WO=bd_capex[bd_capex['trabajo']== 'WO']

bd_capex_WO_C_AR=(bd_capex_WO[(bd_capex_WO['riesgo']== 'AR') & (bd_capex_WO['Area_Etapa']== 'CIRA')]).reset_index()
bd_capex_WO_C_AR_y=bd_capex_WO_C_AR.groupby('año').sum()

bd_capex_WO_C_BR=(bd_capex_WO[(bd_capex_WO['riesgo']== 'BR') & (bd_capex_WO['Area_Etapa']== 'CIRA')]).reset_index()
bd_capex_WO_C_BR_y=bd_capex_WO_C_BR.groupby('año').sum()

In [33]:
bd_capex_WO_C_AR_y

      index         valor  porcentaje   facilidad_t
año
2021      6  0.000000e+00           1  0.000000e+00
2022      7  2.798237e+06           1  2.798237e+06
2023      8  2.798237e+06           1  2.798237e+06
2024      9  2.798237e+06           1  2.798237e+06
2025     10  1.787048e+06           1  1.787048e+06
2026     11  0.000000e+00           1  0.000000e+00

In [34]:
bd_capex_WO_I_AR=(bd_capex_WO[(bd_capex_WO['riesgo']== 'AR') & (bd_capex_WO['Area_Etapa']== 'INFANTAS')]).reset_index()
bd_capex_WO_I_AR_y=bd_capex_WO_I_AR.groupby('año').sum()

bd_capex_WO_I_BR=(bd_capex_WO[(bd_capex_WO['riesgo']== 'BR') & (bd_capex_WO['Area_Etapa']== 'INFANTAS')]).reset_index()
bd_capex_WO_I_BR_y=bd_capex_WO_I_BR.groupby('año').sum()

### NW

In [35]:
bd_capex_NW=bd_capex[bd_capex['trabajo']== 'NW']

In [36]:
bd_capex_NW_C_BR=(bd_capex_NW[(bd_capex_NW['riesgo']== 'BR') & (bd_capex_NW['Area_Etapa']== 'CIRA')]).reset_index()
bd_capex_NW_C_BR_y=bd_capex_NW_C_BR.groupby('año').sum()

bd_capex_NW_C_AR=(bd_capex_NW[(bd_capex_NW['riesgo']== 'AR') & (bd_capex_NW['Area_Etapa']== 'CIRA')]).reset_index()
bd_capex_NW_C_AR_y=bd_capex_NW_C_AR.groupby('año').sum()

In [37]:
bd_capex_NW_I_BR=(bd_capex_NW[(bd_capex_NW['riesgo']== 'BR') & (bd_capex_NW['Area_Etapa']== 'INFANTAS')]).reset_index()
bd_capex_NW_I_BR_y=bd_capex_NW_I_BR.groupby('año').sum()

bd_capex_NW_I_AR=(bd_capex_NW[(bd_capex_NW['riesgo']== 'AR') & (bd_capex_NW['Area_Etapa']== 'INFANTAS')]).reset_index()
bd_capex_NW_I_AR_y=bd_capex_NW_I_AR.groupby('año').sum()

### Numero de pozos capex

In [38]:
decision_opex = pd.read_excel("./decision_opex.xlsx", sheet_name="d")
decision_opex.head()

,year,Oil,Gas_Prod,Gross_Fluid,Water_Injected,Producer_Well,Water_Injection_Well,decision
0,2021,0.01,2.55,0.1,0.06,57994,43064,1
1,2022,0.01,2.55,0.1,0.06,58261,34236,1
2,2023,0.01,2.55,0.1,0.06,55127,23457,1
3,2024,0.01,2.55,0.1,0.06,49100,23457,1
4,2025,0.01,2.55,0.1,0.06,49100,23457,1

In [39]:
n=1
E_Brent=[50,55]
BR=[0,1]
AR=[1,0]
opt_C=[1,0]
opt_I=[1,0]
WO=[1,0]
NW=[0,1]
D=[1]

capex_p=[0.9,1.1,1,1,1,1,1]
opex_p=[1,1,0.9,1.1,1,1,1]
produc_p=[1,1,1,1,0.9,1.1,1]

### codigo de perfiles

In [54]:
%%time

w=0
df_dict = {}
    
wb = xw.Book('./FCL_Arena_C.xlsx')
sht1 = wb.sheets['Perfiles']
sht2= wb.sheets['FCL Total']
sht3=wb.sheets['FCL Basica']
sht4=wb.sheets['FCL Resumen']


for a in range(7):
    
    capex_ph=capex_p[a]
    opex_ph=opex_p[a]
    produc_ph=produc_p[a]

    
    ### riesgo (2)
    for b in range(2):
        AR_b=AR[b]
        BR_b=BR[b]

        ### Incremental WOs (3)

        for c in range(2):

            WO_c=WO[c]
            NW_d=NW[c]

        ## CIRA  (2)

            for e in range(2):

                # WOs perfil

                oil_C_WO_AR=WO_C_AR_y.iloc[:,1]*opt_C[e]*AR_b*WO_c
                fluido_C_WO_AR=WO_C_AR_y.iloc[:,2]*opt_C[e]*AR_b*WO_c
                gas_C_WO_AR=WO_C_AR_y.iloc[:,3]*opt_C[e]*AR_b*WO_c
                inyeccion_C_WO_AR=WO_C_AR_y.iloc[:,4]*opt_C[e]*AR_b*WO_c


                oil_C_WO_BR=WO_C_BR_y.iloc[:,1]*opt_C[e]*BR_b*WO_c
                fluido_C_WO_BR=WO_C_BR_y.iloc[:,2]*opt_C[e]*BR_b*WO_c
                gas_C_WO_BR=WO_C_BR_y.iloc[:,3]*opt_C[e]*BR_b*WO_c
                inyeccion_C_WO_BR=WO_C_BR_y.iloc[:,4]*opt_C[e]*BR_b*WO_c                   


                 # WOs capex (perforacion)

                WOs_p_C=(P_WO_C_AR_v.iloc[:,1]*costo_pozo_WO*opt_C[e]*AR_b*WO_c +
                          P_WO_C_BR_v.iloc[:,1]*costo_pozo_WO*opt_C[e]*BR_b*WO_c)


                 # WOs Facilidades

                WOs_f_C=(bd_capex_WO_C_AR_y.iloc[:,1]*opt_C[e]*AR_b*WO_c + 
                          bd_capex_WO_C_BR_y.iloc[:,1]*opt_C[e]*BR_b*WO_c)


                # Nw perfil
                oil_C_NW_BR=NW_C_BR_y.iloc[:,1]*opt_C[e]*BR_b*NW_d
                fluido_C_NW_BR=NW_C_BR_y.iloc[:,2]*opt_C[e]*BR_b*NW_d
                gas_C_NW_BR=NW_C_BR_y.iloc[:,3]*opt_C[e]*BR_b*NW_d
                inyeccion_C_NW_BR=NW_C_BR_y.iloc[:,4]*opt_C[e]*BR_b*NW_d


                p_prod_C_BR=P_NW_C_BR_y.iloc[:,1]*opt_C[e]*BR_b*NW_d
                p_iny_C_BR=P_NW_C_BR_y.iloc[:,2]*opt_C[e]*BR_b*NW_d



                oil_C_NW_AR=NW_C_AR_y.iloc[:,1]*opt_C[e]*AR_b*NW_d
                fluido_C_NW_AR=NW_C_AR_y.iloc[:,2]*opt_C[e]*AR_b*NW_d
                gas_C_NW_AR=NW_C_AR_y.iloc[:,3]*opt_C[e]*AR_b*NW_d
                inyeccion_C_NW_AR=NW_C_AR_y.iloc[:,4]*opt_C[e]*AR_b*NW_d


                p_prod_C_AR=P_NW_C_AR_y.iloc[:,1]*opt_C[e]*AR_b*NW_d
                p_iny_C_AR=P_NW_C_AR_y.iloc[:,2]*opt_C[e]*AR_b*NW_d


                # Nw capex (perforacion) - NUMERO DE POZOS

                NW_p_C=(C_NW_C_BR_y.iloc[:,1]*costo_pozo_arena_c_p*opt_C[e]*BR_b*NW_d+
                         C_NW_C_BR_y.iloc[:,2]*costo_pozo_arena_c_i*opt_C[e]*BR_b*NW_d+
                         C_NW_C_AR_y.iloc[:,1]*costo_pozo_arena_c_p*opt_C[e]*AR_b*NW_d+
                         C_NW_C_AR_y.iloc[:,2]*costo_pozo_arena_c_i*opt_C[e]*AR_b*NW_d)


                # Nw Facilidades

                NW_f_C=(bd_capex_NW_C_BR_y.iloc[:,1]*opt_C[e]*BR_b*NW_d+
                         bd_capex_NW_C_AR_y.iloc[:,1]*opt_C[e]*AR_b*NW_d)

                # Nw Abandono

                NW_A_C=(P_NW_C_BR_y.iloc[:,3]*costo_abandono_c*opt_C[e]*BR_b*NW_d+
                         P_NW_C_AR_y.iloc[:,3]*costo_abandono_c*opt_C[e]*AR_b*NW_d)


                ## infanta  (2)

                for h in range(2):

                    oil_I_WO_AR=WO_I_AR_y.iloc[:,1]*opt_I[h]*AR_b*WO_c
                    fluido_I_WO_AR=WO_I_AR_y.iloc[:,2]*opt_I[h]*AR_b*WO_c
                    gas_I_WO_AR=WO_I_AR_y.iloc[:,3]*opt_I[h]*AR_b*WO_c
                    inyeccion_I_WO_AR=WO_I_AR_y.iloc[:,4]*opt_I[h]*AR_b*WO_c


                    oil_I_WO_BR=WO_I_BR_y.iloc[:,1]*opt_I[h]*BR_b*WO_c
                    fluido_I_WO_BR=WO_I_BR_y.iloc[:,2]*opt_I[h]*BR_b*WO_c
                    gas_I_WO_BR=WO_I_BR_y.iloc[:,3]*opt_I[h]*BR_b*WO_c
                    inyeccion_I_WO_BR=WO_I_BR_y.iloc[:,4]*opt_I[h]*BR_b*WO_c                   


                     # WOs capex (perforacion)

                    WOs_p_I=(P_WO_I_AR_v.iloc[:,1]*costo_pozo_WO*opt_I[h]*AR_b*WO_c +
                              P_WO_I_BR_v.iloc[:,1]*costo_pozo_WO*opt_I[h]*BR_b*WO_c)


                     # WOs Facilidades

                    WOs_f_I=(bd_capex_WO_I_AR_y.iloc[:,1]*opt_I[h]*AR_b*WO_c + 
                              bd_capex_WO_I_BR_y.iloc[:,1]*opt_I[h]*BR_b*WO_c)


                    # Nw perfil
                    oil_I_NW_BR=NW_I_BR_y.iloc[:,1]*opt_I[h]*BR_b*NW_d
                    fluido_I_NW_BR=NW_I_BR_y.iloc[:,2]*opt_I[h]*BR_b*NW_d
                    gas_I_NW_BR=NW_I_BR_y.iloc[:,3]*opt_I[h]*BR_b*NW_d
                    inyeccion_I_NW_BR=NW_I_BR_y.iloc[:,4]*opt_I[h]*BR_b*NW_d


                    p_prod_I_BR=P_NW_I_BR_y.iloc[:,1]*opt_I[h]*BR_b*NW_d
                    p_iny_I_BR=P_NW_I_BR_y.iloc[:,2]*opt_I[h]*BR_b*NW_d



                    oil_I_NW_AR=NW_I_AR_y.iloc[:,1]*opt_I[h]*AR_b*NW_d
                    fluido_I_NW_AR=NW_I_AR_y.iloc[:,2]*opt_I[h]*AR_b*NW_d
                    gas_I_NW_AR=NW_I_AR_y.iloc[:,3]*opt_I[h]*AR_b*NW_d
                    inyeccion_I_NW_AR=NW_I_AR_y.iloc[:,4]*opt_I[h]*AR_b*NW_d


                    p_prod_I_AR=P_NW_I_AR_y.iloc[:,1]*opt_I[h]*AR_b*NW_d
                    p_iny_I_AR=P_NW_I_AR_y.iloc[:,2]*opt_I[h]*AR_b*NW_d


                    # Nw capex (perforacion) - NUMERO DE POZOS

                    NW_p_I=(C_NW_I_BR_y.iloc[:,1]*costo_pozo_arena_c_p*opt_I[h]*BR_b*NW_d+
                             C_NW_I_BR_y.iloc[:,2]*costo_pozo_arena_c_i*opt_I[h]*BR_b*NW_d+
                             C_NW_I_AR_y.iloc[:,1]*costo_pozo_arena_c_p*opt_I[h]*AR_b*NW_d+
                             C_NW_I_AR_y.iloc[:,2]*costo_pozo_arena_c_i*opt_I[h]*AR_b*NW_d)


                    # Nw Facilidades

                    NW_f_I=(bd_capex_NW_I_BR_y.iloc[:,1]*opt_I[h]*BR_b*NW_d+
                             bd_capex_NW_I_AR_y.iloc[:,1]*opt_I[h]*AR_b*NW_d)

                    # Nw Abandono

                    NW_A_I=(P_NW_I_BR_y.iloc[:,3]*costo_abandono_i*opt_I[h]*BR_b*NW_d+
                             P_NW_I_AR_y.iloc[:,3]*costo_abandono_i*opt_I[h]*AR_b*NW_d)                                    


                    #### (n)

                    for i in range(n):

                        ## adecuacion de las base de datos 


                        ### perfiles

                        ## WOs
                        oil_WOs=(oil_C_WO_AR + oil_C_WO_BR +oil_I_WO_AR + oil_I_WO_BR)*produc_ph

                        fluido_WOs=(fluido_C_WO_AR + fluido_C_WO_BR +fluido_I_WO_AR + fluido_I_WO_BR)*produc_ph

                        gas_WOs=(gas_C_WO_AR + gas_C_WO_BR +gas_I_WO_AR + gas_I_WO_BR)*produc_ph

                        inyeccion_WOs=(inyeccion_C_WO_AR +inyeccion_C_WO_BR +
                                       inyeccion_I_WO_AR +inyeccion_I_WO_BR)*produc_ph


                        ## NW

                        oil_NW=(oil_C_NW_BR+oil_C_NW_AR+oil_I_NW_BR+oil_I_NW_AR)*produc_ph

                        fluido_NW=(fluido_C_NW_BR+fluido_C_NW_AR+fluido_I_NW_BR+fluido_I_NW_AR)*produc_ph

                        gas_NW=(gas_C_NW_BR+gas_C_NW_AR+gas_I_NW_BR+gas_I_NW_AR)*produc_ph

                        inyeccion_NW=(inyeccion_C_NW_BR+inyeccion_C_NW_AR+
                                      inyeccion_I_NW_BR+inyeccion_I_NW_AR)*produc_ph

                        # pozos perfiles

                        productor=(p_prod_C_BR+p_prod_C_AR+p_prod_I_BR+p_prod_I_AR)

                        inyector=(p_iny_C_BR+p_iny_C_AR++p_iny_I_BR+p_iny_I_AR)

                        # capex (perforacion)


                        perforacion=(WOs_p_C+NW_p_C+WOs_p_I+NW_p_I)*capex_ph


                        # facilidades

                        facilidades=(WOs_f_C+NW_f_C+WOs_f_I+NW_f_I)*capex_ph


                        # abandono
                        abandono=(NW_A_C+NW_A_I)*capex_ph

                        ### incremental

                        # Perfil
                           # WOs
                        sht1.range('K69').options(transpose=False).value=oil_WOs.values
                        sht1.range('K70').options(transpose=False).value=gas_WOs.values
                        sht1.range('K71').options(transpose=False).value=(fluido_WOs-oil_WOs).values
                        sht1.range('K72').options(transpose=False).value=inyeccion_WOs.values

                           #NW

                        sht1.range('K85').options(transpose=False).value=oil_NW.values
                        sht1.range('K86').options(transpose=False).value=gas_NW.values
                        sht1.range('K87').options(transpose=False).value=(fluido_NW-oil_NW).values
                        sht1.range('K88').options(transpose=False).value=inyeccion_NW.values


                        # WO pozo perfil
                        sht1.range('K90').options(transpose=False).value=productor.values
                        sht1.range('K91').options(transpose=False).value=inyector.values


                        # capex (perforacion)
                        sht2.range('F15').options(transpose=False).value=(perforacion/1000).values



                        # facilidades
                        sht2.range('F16').options(transpose=False).value=(facilidades/1000).values


                        # abandono pozos
                        sht2.range('F22').options(transpose=False).value=(abandono/1000).values
                        
                        
                        
                        oil_opex=decision_opex[decision_opex['decision']== D[0]].iloc[:,1]
                        Gas_Prod_opex=decision_opex[decision_opex['decision']== D[0]].iloc[:,2]
                        Gross_Fluid_opex=decision_opex[decision_opex['decision']== D[0]].iloc[:,3]
                        Water_Injected_opex_i=decision_opex[decision_opex['decision']== D[0]].iloc[:,4]
                        Producer_Well_opex=decision_opex[decision_opex['decision']== D[0]].iloc[:,5]
                        Water_Injection_Well_opex=decision_opex[decision_opex['decision']== D[0]].iloc[:,6]

                        ## opex

                        sht1.range('N43').options(transpose=True).value=(oil_opex.values)*opex_ph
                        sht1.range('P43').options(transpose=True).value=(Gas_Prod_opex.values)*opex_ph
                        sht1.range('Q43').options(transpose=True).value=(Gross_Fluid_opex.values)*opex_ph
                        sht1.range('R43').options(transpose=True).value=(Water_Injected_opex_i.values)*opex_ph
                        sht1.range('U43').options(transpose=True).value=(Producer_Well_opex.values)*opex_ph
                        sht1.range('V43').options(transpose=True).value=(Water_Injection_Well_opex.values)*opex_ph
                            
                            


                        ## cambio de brent 
                        sht4.range('C10').value=E_Brent[i]

                        if E_Brent[i]<=30:
                            PP=0.52+0

                        elif E_Brent[i]==35:

                            PP=0.52+0.015

                        elif E_Brent[i]==40:

                            PP=0.52+0.035

                        elif E_Brent[i]==45:

                            PP=0.52+0.05

                        elif E_Brent[i]==50:

                            PP=0.52+0.05

                        else:
                            PP=0.52+0.07



                        # abandono pozos
                        sht3.range('I6').options(transpose=False).value=PP


                        wb.app.calculate()

                        VPN_Basica= sht4.range('E10').value
                        VPN_Total = sht4.range('E18').value
                        VPN_incremental= sht4.range('E26').value
                        VPN_Basica_porta=sht4.range('E8').value
                        VPN_incremental_porta=sht4.range('E24').value

                        EFI_INCREMENTAL=sht4.range('F26').value
                        capex=sht2.range('E21').value
                        opex_basica=sht3.range('E26').value
                        opex_incremental=sht2.range('E26').value
                        volumen_B_LE=sht4.range('i62').value
                        volumen_I_LE=sht4.range('i74').value
                        volumen_T_LE=sht4.range('i86').value


                        volumen_B_LE_p=sht4.range('i60').value
                        volumen_I_LE_p=sht4.range('i72').value
                        volumen_T_LE_p=sht4.range('i84').value

                        ## limite economico

                        LE_year_p= sht4.range('K16').value
                        LE_year_b= sht4.range('K18').value

                        ### 

                        lc_p=sht4.range('E42').value
                        lc_b=sht4.range('E44').value
                        dc_p=sht4.range('F42').value
                        dc_b=sht4.range('F44').value

                        ######

                        opex_ing_p=sht4.range('M16').value
                        capex_ing_p=sht4.range('N16').value
                        impuesto_ing_p=sht4.range('O16').value
                        ingreso_ing_p=sht4.range('P16').value
                        abandono_ing_p=sht4.range('Q16').value

                        opex_ing_b=sht4.range('M18').value
                        capex_ing_b=sht4.range('N18').value
                        impuesto_ing_b=sht4.range('O18').value
                        ingreso_ing_b=sht4.range('P18').value
                        abandono_ing_b=sht4.range('Q18').value



                        row_ = {'ID':w,
                            'E_Brent':E_Brent[i],
                            'PP':PP,
                            'BR':BR[b],
                            'AR':AR[b],
                            'WO':WO[c],
                            'NW':NW[c],   
                            'opt_C':opt_C[e],
                            'opt_I':opt_I[h], 
                            'capex_h':capex_p[x],
                            'opex_h':opex_p[x],
                            'produc_h':produc_p[x],
                            'VPN_Basica_porta':VPN_Basica_porta,
                            'VPN_incremental_porta':VPN_incremental_porta,
                            'VPN_Basica':VPN_Basica,
                            'VPN_incremental':VPN_incremental,
                            'VPN_Total':VPN_Total,
                            'EFI_INCREMENTAL':EFI_INCREMENTAL,
                            'capex':capex,
                            'opex_basica':opex_basica,
                            'opex_incremental':opex_incremental,
                            'volumen_B_LE':volumen_B_LE/1000,
                            'volumen_I_LE':volumen_I_LE/1000,
                            'volumen_T_LE':volumen_T_LE/1000,
                            'volumen_B_LE_p':volumen_B_LE_p/1000,
                            'volumen_I_LE_p':volumen_I_LE_p/1000,
                            'volumen_T_LE_p':volumen_T_LE_p/1000,
                            'LE_year_p':LE_year_p,
                            'LE_year_b':LE_year_b,
                            'lc_p':lc_p,
                            'lc_b':lc_b,
                            'dc_p':dc_p,
                            'dc_b':dc_b,
                            'opex_ing_p':opex_ing_p,
                            'capex_ing_p':capex_ing_p,
                            'impuesto_ing_p':impuesto_ing_p,
                            'ingreso_ing_p':ingreso_ing_p,
                            'abandono_ing_p':abandono_ing_p,
                            'opex_ing_b':opex_ing_b,
                            'capex_ing_b':capex_ing_b,
                            'impuesto_ing_b':impuesto_ing_b,
                            'ingreso_ing_b':ingreso_ing_b,
                            'abandono_ing_b':abandono_ing_b,
                        }


                        df_dict[w]=row_

                        w+=1

Wall time: 6min 41s

In [55]:
import pandas as pd
bd_prueba=pd.DataFrame.from_dict(df_dict).T

In [56]:
bd_prueba

,ID,E_Brent,PP,BR,AR,WO,NW,opt_C,opt_I,capex_h,...,opex_ing_p,capex_ing_p,impuesto_ing_p,ingreso_ing_p,abandono_ing_p,opex_ing_b,capex_ing_b,impuesto_ing_b,ingreso_ing_b,abandono_ing_b
0,0,50,0.57,0,1,1,0,1,1,0.9,...,7908.4081,31629.5488,22084.1493,120675.7059,0,8668.8319,31629.5488,25463.6647,132706.4392,0
1,1,50,0.57,0,1,1,0,1,0,0.9,...,7067.0804,25218.6508,18803.5473,101085.0147,0,7746.6073,25218.6508,21621.6154,111163.2823,0
2,2,50,0.57,0,1,1,0,0,1,0.9,...,822.523,6410.898,3308.0389,19583.8781,0,901.6118,6410.898,3869.5818,21535.6887,0
3,3,50,0.57,0,1,1,0,0,0,0.9,...,0,0,0,0,0,0,0,0,0,0
4,4,50,0.57,0,1,0,1,1,1,0.9,...,36778.0255,83521.2536,2075.3666,119533.3203,2242.4714,40314.3741,83521.2536,2762.2625,131026.9087,2242.4714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,50,0.57,1,0,1,0,0,0,0.9,...,0,0,0,0,0,0,0,0,0,0
108,108,50,0.57,1,0,0,1,1,1,0.9,...,27148.9832,60278.9315,12230.8059,146305.8777,1486.8994,29759.4623,60278.9315,16319.8024,162726.9915,1486.8994
109,109,50,0.57,1,0,0,1,1,0,0.9,...,17498.0333,40388.1031,7230.3075,95135.9554,1244.3932,19180.5365,40388.1031,9923.1253,105971.1367,1244.3932
110,110,50,0.57,1,0,0,1,0,1,0.9,...,9463.4073,19890.8284,4921.5904,50995.5683,323.3026,10373.3503,19890.8284,6307.7535,56564.7361,323.3026
111,111,50,0.57,1,0,0,1,0,0,0.9,...,0,0,0,0,0,0,0,0,0,0

In [57]:
bd_prueba.to_csv('bd_prueba_wf_c_tornado.csv')